services:
  goma-gateway:
    image: jkaninda/goma-gateway:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./config:/etc/goma
    networks:
      - goma-net

  goma-provider:
    image: jkaninda/goma-docker-provider
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro # Required
      - ./config/providers:/etc/goma/providers
    environment:
      - GOMA_OUTPUT_DIR=/etc/goma/providers # Optional, default /etc/goma/providers
      - GOMA_ENABLE_SWARM=false # Enable Swarm mode, default false
    networks:
      - goma-net

  # API Service - Full Configuration
  api-service:
    image: jkaninda/okapi-example
    labels:
      # Basic Configuration
      - "goma.enable=true"
      - "goma.name=api-example"
      - "goma.path=/"
      - "goma.port=8080"
      - "goma.scheme=http"
      - "goma.rewrite=/"
      - "goma.priority=100"
      
      # Hosts
      - "goma.hosts=api.example.com"
      
      # Methods
      - "goma.methods=GET,POST,PUT,DELETE,PATCH"
      
      # Health Check
      - "goma.healthCheck.path=/"
      - "goma.healthCheck.interval=30s"
      - "goma.healthCheck.timeout=5s"
      - "goma.healthCheck.healthy_statuses=200,204"
      
      # Security
      - "goma.security.forward_host_headers=true"
      - "goma.security.enable_exploit_protection=true"
      - "goma.security.tls.insecure_skip_serify=false"
      
      # Middlewares
      - "goma.middlewares=basic-auth,rate-limit,cors"
      
      # Metrics
      - "goma.disable_metrics=false"
    networks:
      - goma-net

  # Web Service - Minimal Configuration
  web-service:
    image: jkaninda/okapi-example
    labels:
      - "goma.enable=true"
      - "goma.port=8080"
      - "goma.hosts=example.com, www.example.com"
    networks:
      - goma-net
networks:
  goma-net:
    driver: bridge